<div class="container-fluid zndx">
  <div class="row align-items-baseline justify-content-around">
    <div class="col-12 justify-content-center col-md-auto">
      <img class="logo-img" src="/assets/images/logo.png" alt="" />
    </div>

    <div class="col-12 justify-content-center col-md-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon1"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search for a doctor"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
        />
      </div>
    </div>
    <div class="col-12 justify-content-center col-md-auto">
      <a class="btn btn-primary" href="#" role="button">Book An Appointment</a>
    </div>
    <div class="col-12 justify-content-center col-md-auto">
      <a class="d-inline-block navlink hlp w-25">Help?</a>
      <select class="w-75 d-inline-block custom-select select form-control">
        <option class="bg-transparent">EN</option>
        <option class="bg-transparent">AR</option>
      </select>
    </div>
  </div>
</div>
