.logo-img {
  height: 112px;
}

.zndx {
  z-index: 1000;
  margin-top: 20px;
}

.input-group {
  width: 29vw;
  border-radius: 38px;
}

.input-group > .input-group-prepend > .btn {
  border-radius: 38px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child) {
  border-radius: 38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input {
  border: none;
  background: white;
}

button {
  border: none;
  background: white;
  border-right: 1px #e2e2e2 solid;

  &:hover {
    background: rgba(6, 115, 185, 1);
  }
}

.custom-select.select {
  border: none;
  text-align: right;
  color: #0673b9;
  background: rgba(0, 0, 0, 0)
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    right 0.75rem center/8px 10px no-repeat;

  font-weight: 500;
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  option {
    background: transparent;
  }
}

.navlink {
  color: #0673b9;
  font-weight: 500;

  &:hover {
    color: #ef0f0f;
    text-decoration: none;
  }
}
