<nav class="nav">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Naqaa logo" />
  </div>
  <div class="nav_search">
    <span class="nav_search_icon"><i class="fas fa-search fa-fw"></i></span>
    <input class="search_input" type="text" placeholder="Search for a doctor" />
  </div>

  <div class="nav_controls d-flex align-items-center">
    <span>10</span>
    <button class="general-btn book_nav_btn">Book An Appointment</button>
    <a class="d-inline-block nav_link">About Us</a>
    <a class="d-inline-block nav_link">Help?</a>
    <select class="d-inline custom-select select">
      <option class="option">EN</option>
      <option class="option">AR</option>
    </select>
  </div>
</nav>
