<p>home works!</p>
<div class="large-header line-drawing-demo">
  <svg>
    <path
      class="path"
      d="M-4523.481,745.374-4459.5,693.5V582.1"
      transform="translate(4523.796 -582.1)"
      fill="transparent"
      stroke="#0673b9"
      stroke-width="3"
    />
  </svg>

  <ng-lottie
    [options]="options"
    (animationCreated)="animationCreated($event)"
    (loopComplete)="onLoopComplete()"
  ></ng-lottie>

  <button (click)="stop()">Stop</button>
  <button (click)="play()">Play</button>
</div>
