.path {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s linear alternate;
}

@keyframes dash {
  from {
    stroke-dashoffset: 190;
  }
  to {
    stroke-dashoffset: 0;
  }
}

ng-lottie {
  z-index: 5000;
  position: relative;
  width: 150px;
  // transform: translate3d(-26px, -18px, 0px);
  display: block;
}
