
.list_of_doctors{
  position: relative;
  overflow-y: scroll;
  height: 100%;
  mat-icon{
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #989898;
    transition: all .2s ease-in-out;
    &:hover{
      color: #0673B9;
    }
  }
  &__container{
    width: 80%;
    margin: 40px auto 0 auto;
  }
}


.list_of_doctors__item{
  padding: 20px;
  margin-bottom: 22px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
}
.doctor_info_details{
  h5{
    font-size: 14px;
    font-weight: normal;
    color: #1870CF;
  }
  h3{
    font-size: 22px;
    color: #1870CF;
    font-weight: 500;
  }
  p{
    font-size: 14px;
    color: #989898;
  }
}
.doctor_info{
  img{
    border-radius: 50%;
  }
}

// schedual doctor
.doctor_list_schedual{
  position: relative;
}
.navigate{
  position: absolute;
  top: 48%;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 6px 8px;
  color: #0673B9;
  border-radius: 5px;
  cursor: pointer;
}
.nav-prev{
  left: 0;
}
.nav-next{
  right: 0;
}
.schedual{
  border-radius: 5px;
  margin-right: 10px;
}
.schedual_day{
  background-color: #0673B9;
  color: #fff;
  padding: 7px 0;
  text-transform: capitalize;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.schedual_time{
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 6px 0;
  p{
    margin: 0;
    padding: 5px 0;
  }
}
.btn_book_appointment{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
